<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectoApp</title>

    <environment include="Production,Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        

    </environment>
   
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ElectoApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                    <li><a asp-area="" asp-controller="Elections" asp-action="Index">World Elections</a></li>
                    <li><a asp-area="" asp-controller="Countries" asp-action="Index">Countries</a></li>
                    @*<li><a asp-area="" asp-controller="Continents" asp-action="Index">Continents</a></li>*@
                    <li><a asp-area="" asp-controller="CapitalCities" asp-action="Index">Capital Cities</a></li>
                    <li><a asp-area="" asp-controller="Presidents" asp-action="Index">Presidential</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ElectoApp</p>
            <p>Developed by <span style="font-weight:100; stroke:aqua;">Victory Khan</span></p>
        </footer>
    </div>

    <environment include="Production,Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
       


    </environment>
   

    @RenderSection("Scripts", required: false)
</body>
</html>
