
@using ElectoApp.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    var base64 = Convert.ToBase64String(@UserManager.GetUserAsync(User).Result.Avatar);
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><button type="button" class="btn btn-primary">Hello <span class="badge"> @UserManager.GetUserAsync(User).Result.Fname</span></button></a>
            </li>

            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Picture"><img id="profimg" src="@imgSrc" /></a>
            </li>

            @*<li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>*@
            <li>
                <button type="submit" class="btn btn-danger btn-link navbar-btn navbar-link"><span class="badge">Log out</span></button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Admin</a></li>
    </ul>
}
